<h1 class="text-center">Austin Cranes Extra Credit</h1>
<div id="lists" class="card row" style="margin-top:20px;">
  <div  class="col-md-6 col-md-offset-3" >
    <div class="list-group">
      <h3>Projects</h3>
        <a href="/projects/balistics" class="list-group-item">Balisitcs Calculator</a>
        <a href="/projects/quiz" class="list-group-item">Kinetic Energy Quiz</a>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3" style="margin-top:20px;">
    <div class="list-group">
      <h3>My Work</h3>
        <a href="#" class="list-group-item">Balisitcs Calculator</a>
        <a href="#" class="list-group-item">Kinetic Energy Quiz</a>
    </div>
  </div>
</div>
