/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


$b_calc_color: #ffffff;
.card{
  background: $b_calc_color;
  box-shadow: 2px 2px #f2f2f2;
  padding: 18px;
}
#lists{
}
#b_calc{
  background: $b_calc_color;
  box-shadow: 2px 2px #f2f2f2;
}
#input{
  margin: 8px;
  height: 260px;
}
#output{
  border-left: 1px solid #333;
  height: 240px;
}
#answer{
  margin-top: 90px;
}
html,
body{
  background-color: #fafafa;
}
